{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "4.3"
        },
        "exclude": ["transform-async-to-generator", "transform-regenerator"]
      }
    ]
  ],
  "plugins": [["@babel/plugin-proposal-object-rest-spread"]],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "exclude": ["transform-regenerator"],
            "include": ["transform-async-to-generator"]
          }
        ]
      ],
      "plugins": ["@babel/plugin-proposal-object-rest-spread"]
    }
  }
}
